<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projekt.fuelprice">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fuelpriceicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FuelPriceStyle"
        android:name=".FuelPriceApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".Powitanie"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait">

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="<gmaps key>" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="<fabric key>" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="<admob key>"/>
    </application>
</manifest>